*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-container {
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    padding: 0;
    color: black;
    height: 100vh;
    width: 100vw;
}

.login-container {
    background-color: whitesmoke;
    padding: 30px 40px;
    border-radius: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    h1 {
        margin-bottom: 20px;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 5px;
        text-align: left;
        font-weight: bold;
    }
    input[type="text"],
    input[type="password"] {
        width: 250px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }

    button {
        width: 150px;
        padding: 10px;
        margin: 5px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    }

    button:hover {
        background-color: #0056b3;
    }

.employee-list {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 0;
    width: 50vw;
    height: 100vh;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.employee-list h3 {
    margin-top: 0;
    color: lightgreen;
}

.employee-list ul {
    padding-left: 10px;
}
.asds{
    margin-bottom: 10px;
}
